.banner-slider{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.banner-slider .swiper{
    width: 100%;
    height: 58vw;
    cursor: pointer;
}

.banner-slider .swiper-slide img{
    object-fit: cover;
}
