.features{
    margin-top: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.features-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.feature{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.rt-f img{
    width: 32px;
    /* height: 34px; */
}

.feature:nth-of-type(3) .rt-f img{
    width: 42px;
    /* height: 34px; */
}

.lt-f h3{
    width: 68px;
    margin-bottom: 6px;
    font-family: goldtag;
    font-size: 12px;
    font-weight: 100;
    color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}