*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: goldtag;
    src: url(../fonts/icons.woff2) ;
    src: url(../fonts/iryekan-bold.woff) ;
    src: url(../fonts/iryekan-light.woff) ;
    src: url(../fonts/iryekan-number-bold.woff2);
    src: url(../fonts/iryekan-number-light.woff2) ;
    src: url(../fonts/iryekan-number-regular.woff2) ;
    src: url(../fonts/iryekan-regular.woff);
    /* src: url(../fonts/iryekan-number-bold.woff); */
     /* src: url(../fonts/iryekan-number-light.woff);  */
}

@font-face {
    font-family: goldtag-numbers;
    src: url(../fonts/icons.woff2) ;
    src: url(../fonts/iryekan-bold.woff) ;
    src: url(../fonts/iryekan-light.woff) ;
    src: url(../fonts/iryekan-number-bold.woff2);
    src: url(../fonts/iryekan-number-light.woff2) ;
    src: url(../fonts/iryekan-number-regular.woff2) ;
    src: url(../fonts/iryekan-regular.woff);
    src: url(../fonts/iryekan-number-bold.woff); 
    src: url(../fonts/iryekan-number-light.woff);  
}